.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-adds{
	background:url('icons/add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-payment{
	background:url('icons/payment.png') no-repeat center center;
}
.icon-save{
	background:url('icons/save_new.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel_01.png') no-repeat center center;
}
.icon-export{
	background:url('icons/export.png') no-repeat center center;
}
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/sear.png') no-repeat center center;
}
.icon-color{
	background:url('icons/color.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print_text.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-paint{
	background:url('icons/paint.png') no-repeat center center;
}
.icon-config{
	background:url('icons/config.png') no-repeat center center;
}
.icon-comp{
	background:url('icons/company.png') no-repeat center center;
}
.icon-sys{
	background:url('icons/sys.png') no-repeat center center;
}
.icon-db{
	background:url('icons/db.png') no-repeat center center;
}
.icon_ico_02{
	background:url('icons/ico_02.gif') no-repeat center center;
}
.icon-pro{
	background:url('icons/pro.png') no-repeat center center;
}
.icon-role{
	background:url('icons/role.png') no-repeat center center;
}
.icon-end{
	background:url('icons/end.png') no-repeat center center;
}
.icon-home{
	background:url('icons/home.png') no-repeat center center;
}
.icon-bug{
	background:url('icons/bug.png') no-repeat center center;
}
.icon-badd{
	background:url('icons/bug_add.png') no-repeat center center;
}
.icon-bedit{
	background:url('icons/bug_edit.png') no-repeat center center;
}
.icon-bdel{
	background:url('icons/bug_delete.png') no-repeat center center;
}
.icon-logout{
	background:url('icons/logout.png') no-repeat center center;
}
.icon-cstbase{
	background:url('icons/cstbase.png') no-repeat center center;
}
.icon-item{
	background:url('icons/item.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-time{
	background:url('icons/time.png') no-repeat center center;
}
.icon-auto{
	background:url('icons/auto.png') no-repeat center center;
}
.icon-start{
	background:url('icons/start.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.icon-card-apply{
	background:url('icons/card_apply.png') no-repeat center center;
}
.icon-data-acount{
	background:url('icons/data_acount.png') no-repeat center center;
}
.icon-rechgCard{
	background:url('icons/rechgCard.png') no-repeat center center;
}
.icon-cardService{
	background:url('icons/cardService.png') no-repeat center center;
}
.icon-pwdService{
	background:url('icons/pwdService.png') no-repeat center center;
}
.icon-branchManage{
	background:url('icons/branchManage.png') no-repeat center center;
}
.icon-branchEditMange{
	background:url('icons/branchEditMange.png') no-repeat center center;
}
.icon-orgBranchAccoutManage{
	background:url('icons/orgBranchAccoutManage.png') no-repeat center center;
}
.icon-orgManage{
	background:url('icons/orgManage.png') no-repeat center center;
}
.icon-paraManage{
	background:url('icons/paraManage.png') no-repeat center center;
}
.icon-itemManage{
	background:url('icons/itemManage.png') no-repeat center center;
}
.icon-cardParaManage{
	background:url('icons/cardParaManage.png') no-repeat center center;
}
.icon-orgOpenAcc{
	background:url('icons/orgOpenAcc.png') no-repeat center center;
}
.icon-orgCloseAcc{
	background:url('icons/orgCloseAcc.png') no-repeat center center;
}
.icon-orgAccManage{
	background:url('icons/orgAccManage.png') no-repeat center center;
}
.icon-cardlostManage{
	background:url('icons/cardlostManage.png') no-repeat center center;
}
.icon-cardunlostManage{
	background:url('icons/cardunlostManage.png') no-repeat center center;
}
.icon-counterServiceManage{
	background:url('icons/counterSevice.png') no-repeat center center;
}
.icon-merchantMag{
	background:url('icons/merchantMag.png') no-repeat center center;
}
.icon-merchantAdd{
	background:url('icons/addMerchant.png') no-repeat center center;
}
.icon-merchantDown{
	background:url('icons/merchantDown.png') no-repeat center center;
}
.icon-merchantQues{
	background:url('icons/merchantQues.png') no-repeat center center;
}
.icon-merchantErr{
	background:url('icons/merchantErr.png') no-repeat center center;
}
.icon-merchantsettle{
	background:url('icons/merchantsettle.png') no-repeat center center;
}
.icon-mersettlePara{
	background:url('icons/mersettlepar.png') no-repeat center center;
}
.icon-merSettleMode{
	background:url('icons/merSettleMode.png') no-repeat center center;
}
.icon-merSettleRate{
	background:url('icons/merSettleRate.png') no-repeat center center;
}
.icon-merConsumeKind{
	background:url('icons/merConsumeKind.png') no-repeat center center;
}
.icon-merSettleCK{
	background:url('icons/merSettleCK.png') no-repeat center center;
}
.icon-merSettleRS{
	background:url('icons/merSettleRS.png') no-repeat center center;
}
.icon-merSettlePay{
	background:url('icons/merSettlePay.png') no-repeat center center;
}
.icon-merSettleMon{
	background:url('icons/merSettleMon.png') no-repeat center center;
}
.icon-merSettleYear{
	background:url('icons/merSettleYear.png') no-repeat center center;
}
.icon-merSettleInDus{
	background:url('icons/merSettleInDus.png') no-repeat center center;
}
.icon-merSettleQuery{
	background:url('icons/merSettleQuery.png') no-repeat center center;
}
.icon-dzqbcz{
	background:url('icons/dzqbcz.png') no-repeat center center;
}
.icon-dzqbcx{
	background:url('icons/dzqbcx.png') no-repeat center center;
}
.icon-ljcz{
	background:url('icons/ljcz.png') no-repeat center center;
}
.icon-ljcx{
	background:url('icons/ljcx.png') no-repeat center center;
}
.icon-zx{
	background:url('icons/zx.png') no-repeat center center;
}
.icon-zhcx{
	background:url('icons/zhcx.png') no-repeat center center;
}
.icon-viewInfo{
	background:url('icons/viewInfo.png') no-repeat center center;
}
.icon-checkInfo{
	background:url('icons/checkInfo.png') no-repeat center center;
}
.icon-termMag{
	background:url('icons/terminalMag.png') no-repeat center center;
}
.icon-termManage{
	background:url('icons/terminalManage.png') no-repeat center center;
}
.icon-readIdcard{
	background:url('icons/readIdcard.png') no-repeat center center;
}
.icon-readCard{
	background:url('icons/readCard.png') no-repeat center center;
}
.icon-madeCardMag{
	background:url('icons/madeCardMag.png') no-repeat center center;
}
.icon-madeCardOnly{
	background:url('icons/madeCardOnly.png') no-repeat center center;
}
.icon-madeCardNotOnly{
	background:url('icons/madeCardNotOnly.png') no-repeat center center;
}
.icon-makeTaskMag{
	background:url('icons/makeTaskMag.png') no-repeat center center;
}
.icon-madeCardPro{
	background:url('icons/madeCardPro.png') no-repeat center center;
}
.icon-pwdbtn{
	background:url('icons/pwdbtn.png') no-repeat center center;
}
.icon-taskExpWjw{
	background:url('icons/cardTaskToWjw.png') no-repeat center center;
}
.icon-taskExpBank{
	background:url('icons/cardTaskToBank.png') no-repeat center center;
}
.icon-accManage{
	background:url('icons/accManage.png') no-repeat center center;
}
.icon-clrDateManage{
	background:url('icons/clrDateManage.png') no-repeat center center;
}
.icon-userCuteDayBal{
	background:url('icons/userCuteDayBal.png') no-repeat center center;
}
.icon-brchCuteDayBal{
	background:url('icons/brchCuteDayBal.png') no-repeat center center;
}
.icon-walletConsumeDo{
	background:url('icons/walletConsumeDo.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/locked56.png') no-repeat center center;
}
.icon-unlock{
	background:url('icons/unlock37.png') no-repeat center center;
}
.icon-signout{
	background:url('icons/sign-out.png') no-repeat center center;
}

.icon-signin{
	background:url('icons/sign-in.png') no-repeat center center;
}
.icon_accounts_Manage{
	background:url('icons/accounts_Manage.png') no-repeat center center;
}
.icon_accounts_DayBal{
	background:url('icons/accounts_DayBal.png') no-repeat center center;
}
.icon-account_card{
	background:url('icons/account_card.png') no-repeat center center;
}
.icon-transaction_3d{
	background:url('icons/transaction_3d.png') no-repeat center center;
}
.icon-accountLock{
	background:url('icons/accountLock.png') no-repeat center center;
}
.icon-rulers{
	background:url('icons/rulers.png') no-repeat center center;
}
.icon-account_enable{
	background:url('icons/account_enable.png') no-repeat center center;
}
.icon-account_lock01{
	background:url('icons/account_lock01.png') no-repeat center center;
}
.icon_stroge-room{
	background:url('icons/strogeRoom.png') no-repeat center center;
}
.icon_cancel_01{
	background:url('icons/cancel_01.png') no-repeat center center;
}
.icon-bike{
	background:url('icons/bike.png') no-repeat center center;
}
.icon-bike1{
	background:url('icons/bike1.png') no-repeat center center;
}
.icon-bike2{
	background:url('icons/bike2.png') no-repeat center center;
}
.icon-plane{
	background:url('icons/plane.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/s.gif') no-repeat center center;width:0px;height:0px;
}
.icon-back_02{
	background:url('icons/back_02.png') no-repeat center center;
}
.icon-grid-title{
	background:url('icons/grid-title.gif') no-repeat center center;
}
.icon-zoom_in {
	background:url('icons/zoom_in.png') no-repeat center center;
}
.icon-zoom_out {
	background:url('icons/zoom_out.png') no-repeat center center;
}
.icon-rotate_anticlockwise {
	background:url('icons/rotate_anticlockwise.png') no-repeat center center;
}
.icon-rotate_clockwise {
	background:url('icons/rotate_clockwise.png') no-repeat center center;
}
.icon-trans{
	background:url('icons/trans.png') no-repeat center center;
}
.icon-statistitcs_total{
	background:url('icons/statistitcs_total.png') no-repeat center center;
}
.icon-statistics_details{
	background:url('icons/statistics_details.png') no-repeat center center;
}
.icon-statistics_details{
    background:url('icons/statistics_details.png') no-repeat center center;
}
.icon-filter{
    background:url('icons/filter.png') no-repeat center center;
}